<div class="w-50 border border-secondary border-1 p-3 m-auto" style="background-color: rgb(14, 18, 18);">
    <h3 class="display-5 p-3 mb-2 bg-primary text-blue">
        Project :
        <%= project.name %>
    </h3>
    <h4 class="display-6 p-3 mb-2 bg-primary text-red">
        Author :
        <%= project.author %>
    </h4>
    <h5 class="display-6 p-3 mb-2 bg-primary text-dark">
        Description :
        <%= project.description %>
    </h5>
</div>
<%-include('./partials/_issues'); %>